* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.hero h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}

.hero h1 span {
    color: #ff2963;
}

textarea {
    width: 600px;
    height: 230px;
    background: #403d84;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder {
    font-size: 16px;
    color: #ddd;
}

.row {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #c5083b;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

select {
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 43px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 5%);
    background-position-y: calc(50%);
}

/* Media Screen */

@media (max-width : 630px) {

    .hero {
        width: 100%;
        min-height: 100vh;
    }

    textarea {
        width: 400px;
        height: 200px;
    }

    select {
        background-size: 13px;
        background-position-x: calc(100% - 2%);
    background-position-y: calc(50%);
    }

    .hero h1 {
        font-size: 35px;
    }

    .row {
        width: 400px;
    }
}


@media (max-width : 450px) {
    .hero {
        width: 100%;
        min-height: 100vh;
    }

    textarea {
        width: 320px;
        height: 160px;
    }

    .hero h1 {
        font-size: 20px;
    }

    .row {
        width: 250px;
        flex-direction: column;
    }

    select {
        padding: 10PX;
    }
}